* {
  margin: 0;
  page-break-after: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vh;
  max-height: 100vw;
}

.desk-one, .desk-two, .desk-three, .desk-four {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  max-height: 630px;
  margin: 0 auto;
  padding: 1px;
  justify-content: center;
  align-items: center;
}

.desk-one {
  max-height: 1070px;
  flex-direction: column;
  background-image: url(images/one-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  // border: 1px solid red;
}

.desk-three {
  background-image: url(images/three-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .two-headline {
    color: white;
    background-color: transparent;
    // background-image: url(images/three-bg.png);
    // background-repeat: no-repeat;
    // background-size: unset;
  }
  .two-lead {
    color: white;
    font-weight: lighter;
  }
}

.desk-four {
  max-height: 1410px;
  border: 1px solid red;
}
.box-four {
display: flex;
position: relative;
flex-flow: column nowrap;
width: 46%;
height: 83%;
max-width: 900px;
max-height: 1180px;
justify-content: center;  
align-items: center;
text-align: center;
border: 1px solid green;
}
.icon-info {
  // display: flex;
  // position: relative;
  // flex-flow: column wrap;
  width: 70%;
  // height: 33%;
  max-width: 660px;
  max-height: 330px;
  // justify-content: space-between;  
  // align-content: center;
  // align-items: center;
// text-align: center;
  border: 1px solid black;
}
.svg-one {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.icon-headline {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.6em;
  // margin: 0.5em auto;
  text-transform: uppercase;
}
.icon-lead {
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  font-size: 1.15em;
  line-height: 1.3;
}
  .box-lead {
    display: flex;
    position: relative;
    width: 46%;
    height: 50%;
    max-width: 900px;
    max-height: 310px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
  }
    .two-lead {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 90%;
      text-align: center;
      justify-content: center;
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 1.3em;
      line-height: 1.5;
      // border: 1px solid black;
    }
  .two-headline, .four-headline {
    position: absolute;
    top: -0.6em;
    padding: 0 7%;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 2.8em;
    letter-spacing: 5px;
    text-transform: uppercase;
    background-color: white;
  }

  
.desk-center {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 45%;
  height: 40%;
  margin: 0 auto;
  // text-align: center;
  // border: 1px solid yellow;
}
.one-headline {
  width: 100%;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: 4.5em;
  color: white;
  text-transform: uppercase;
  text-align: center;
  // border: 1px solid green;
}
.one-lead {
  font-family: "Lato", sans-serif;
  font-size: 15pt;
  color: white;
  text-align: center;
  text-transform: uppercase;
  // border: 1px solid green;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 640px) {
  .desk-one {
    background-size: cover;
    background-position: right;
  }
  .desk-center {
    width: 95%;
    height: 95%;
    justify-content: space-evenly;
  }
  .one-headline {
    font-size: 1.5em;
  }
  .one-lead {
    font-size: 0.8em;
  }
  .desk-two, .desk-three {
    .box-lead {
      width: 95%;
      height: 95%;
      .two-headline {
        font-size: 1.5em;
      }
      .two-lead {
        font-size: 0.9em;
      }
  }
  }
  .box-four{
  width: 95%;
  height: 95%;
    .four-headline {
      font-size: 1.5em;
      letter-spacing: 1px;
    }
    .icon-info {
      width: 95%;
      height: max-content;    
    }
  }
  .icon-headline{
    font-size: 0.9em;
    margin: 0;
  }
  .icon-lead { 
    font-size: 0.8em;
  }
  svg {
    transform: scale(0.4);
  }

}
@media only screen and (min-device-width: 640px) and (max-device-width: 1024px) {
  .desk-one {
    background-size: cover;
    background-position: right;
  }
  .desk-center {
    width: 75%;
    height: 75%;
  }
  .one-headline {
    font-size: 2.3em;
  }
  .one-lead {
    font-size: 1em;
  }
  .desk-two, .desk-three{

    .box-lead {
      width: 70%;
      height: 70%;
      .two-headline {
        font-size: 1.3em;
      }
      .two-lead {
        font-size: 1em;
      }
  }

  }
  .box-four{
    width: 85%;
    height: 95%;
      .four-headline {
        font-size: 2.3em;
        letter-spacing: 1px;
      }
      .icon-info {
        width: 85%;
      }
    }
    .icon-headline{
      font-size: 1.3em;
    }
    .icon-lead { 
      font-size: 1em;
    }
    svg {
      transform: scale(0.7);
    }
  
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1600px) {
  .desk-one {
    background-size: cover;
    background-position: right;
  }
  .desk-center {
    width: 65%;
    height: 65%;
  }
  .one-headline {
    font-size: 3em;
  }
  .one-lead {
    font-size: 1.8em;
  }
  .desk-two, .desk-three{

    .box-lead {
      width: 70%;
      height: 70%;
      .two-headline {
        font-size: 2.1em;
      }
      .two-lead {
        font-size: 1.2em;
      }
  }

  }
  .box-four{
    width: 80%;
    height: 90%;
      .four-headline {
        font-size: 2em;
        letter-spacing: 1px;
      }
      .icon-info {
        width: 90%;
      }
    }
    .icon-headline{
      font-size: 1.5em;
    }
    .icon-lead { 
      font-size: 1em;
    }
    svg {
      transform: scale(0.7);
    }
  
}
