@font-face {
  font-family: "Miso Regular";
  src: url("font/Miso.eot");
  src: url("Miso.eot?#iefix") format("embedded-opentype"),
    url("font/Miso.woff") format("woff"),
    url("font/Miso.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato Light";
  src: url("font/Lato-Light.eot");
  src: url("Lato-Light.eot?#iefix") format("embedded-opentype"),
    url("font/Lato-Light.woff") format("woff"),
    url("font/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  background-color: black;
}

body {
  position: relative;
  margin: 5% auto;
  width: 1200px;
  height: 600px;
  background-color: #fedd83;
}

.flex-container {
  /*генерирует flex-контейнер уровня блока*/
  display: flex; /* выровнялись в линию*/
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap; /* в одну строку*/
  align-items: stretch; /* ростягивание*/
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fedd83;
  border: 1px solid green;  
}

.flex-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 360px;
  margin: 50px 30px;
  background-color: white;
  border: 1px solid red;
}

img {
  display: flex;
  /* position: absolute; */
  /* margin-top: 120px; */
  /* margin-left: 0px; */
  /* align-items: center; */
  margin: 0 auto;
  width: 135px;
  height: 134px;
  background-color: white;
}

.prise {
  display: flex;
  /* position: absolute; */
  /* margin-top: 40px; */
  /* margin-left: 150px; */
  width: fit-content;
  margin: 0 auto;
  color: seagreen;
  font-family: "Miso Regular";
  font-size: 70pt;
  background-color: white;
}

.name_cup {
  display: flex;
  /* position: absolute; */
  /* margin-top: 290px; */
  /* margin-left: 0px; */
  width: fit-content;
  margin: 0 auto;
  color: black;
  font-family: "Lato Light";
  font-size: 40pt;
  font-weight: 800;
  background-color: white;
}

.text_bot {
  display: flex;
  /* margin-top: 360px; */
  /* position: absolute; */
  width: fit-content;
  margin: 0 auto;
  color: black;
  font-family: "Lato Light";
  font-size: 20pt;
  background-color: white;
}
