@font-face {
  font-family: "Neue Hans Kendrick Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Neue Hans Kendrick Regular"),
    url("font/HansKendrick-Regular.otf") format("woff");
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Neue Hans Kendrick Regular";
  background-color: #e2e7eb;
}

a {
  text-decoration: none;
}

.main-container {
  /* max-width: 1120px;  */
  margin: 0 auto;
  /* border: 1px solid yellow;  */
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
}

.flex-item {
  display:flex;
  margin-bottom: 20px;
  /* flex-basis: 360px; */
  /* height: 540px; */
  /* width: 33%; */
  /* background-color: white; */
  /* border: 1px solid green;   */
}

.large-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  width: 740px;
  /* height: 100px; */
  background-image: url('images/pic1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #e2e7eb;
  font-size:0;
  /* display:flex; */
  /* flex-grow: 2;  */
  /* width: 66%;  */
  /* flex-basis: 740px; */
  /* border: 1px solid green;  */
}

.item {
  display:flex;
  flex-flow: column nowrap;
  min-height: 540px;
  background-color: white;
}

.text-menu-w {
  max-width: 440px;
  margin-left: 20px;
  margin-bottom: 20px;
  font-size: 24pt;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.date-w {
  margin-left: 20px;
  font-size: 12pt;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.5;
  color: white;
}

.text-menu-b {
  flex-grow: 1;
  max-width: 350px;
  margin-left: 10px;
  font-size: 18pt;
  font-weight: 900;
  text-transform: uppercase;
}

.date-b {
  margin-left: 10px;
  font-size: 12pt;
  font-weight: 240px;
  text-transform: uppercase;
  opacity: 0.5;
}
 
.author {
  /* width: 54px; */
  /* height: 54px; */
  margin-left: 10px;
} 


.icon-load {
  margin: 50px 45%;
  padding: 10px;
  color: gray;
  font-size: 8pt;
}