* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html {
    width: 100%;
    max-width: 1500px;
    max-height: 960px;
    margin: 0 auto;
    /* border: 2px solid red; */
}

body {
    background-image: url(images/background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
}

    .main-header {
       width: 370px; 
       height: 170px;
       margin: 5% auto 0 auto;
       text-align: center;
       font-family: 'Raleway', sans-serif;
    }

        .head-line {
            font-size: 60pt;
            font-weight: bold;
        }
        
        .head-lead {
            font-size: 12pt;
            font-weight: 300;
        }

    .user-feadback {
        display: inline-block;
        width: 35%;
        max-width: 500px;
        margin-left: 11%;
    }

    
        input, textarea {
            width: 100%;
            max-width: 500px;
            height: 50px;
            margin-top: 16px;
            padding-left: 16px;
            font-size: 12pt;
            font-weight: 300;
            overflow: hidden;
            color: white;
            background-color:rgb(121, 224, 224, 0.4);
        }
    
        textarea {
            height: 250px;
        }
    
        .submit-reset {
            display: flex;
            justify-content: space-between;
        }
    
        ::-webkit-input-placeholder {color:white;}
        ::-moz-placeholder          {color:white;}/* Firefox 19+ */
        :-moz-placeholder           {color:white;}/* Firefox 18- */
        :-ms-input-placeholder      {color:white;} 
        :focus::-webkit-input-placeholder {color: transparent}
        :focus::-moz-placeholder          {color: transparent}
        :focus:-moz-placeholder           {color: transparent}
        :focus:-ms-input-placeholder      {color: transparent}
    
    input:focus {
        background-color:rgb(0, 195, 194);
        border-left: 4px solid #355b80;
        color: white;
        font-weight: bold;
    }
    textarea:focus {
        background-color:rgb(0, 195, 194);
        border-left: 4px solid #355b80;
        color: white;
        font-weight: bold;
    }


    .contact-info {
        float: right;
        max-width: 25%;
        margin-right: 15%;
        margin-top: 16px;
        font-family: 'Raleway', sans-serif;
    }

    .bot-foot {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        margin-top: 5%;
        padding: 0 2%;
        background-color:#2a2a2a;
        font-family: 'Raleway', sans-serif;
        font-size: 15pt;
        color: white;
    }
        span {
            display: flex;
            width: max-content;
            opacity: 0.8;
        }
            span > b {
                color: red;
                padding: 0 5px;
            }
        .logo {
            font-family: Pacifico;
            font-size: 25pt;
        }